@font-face {
	font-family: "Georgia";
	font-style: normal;
	src: url(../fonts/georgia_normal.ttf) format('truetype'),
		url(../fonts/georgia_normal.woff) format('woff'),
		url(../fonts/georgia_normal.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: "Georgia";
	font-style: normal;
	src: url(../fonts/georgia_bold.ttf) format('truetype'),
		url(../fonts/georgia_bold.woff) format('woff'),
		url(../fonts/georgia_bold.woff2) format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: "Arial";
	font-style: normal;
	src: url(../fonts/arial_normal.ttf) format('truetype'),
		url(../fonts/arial_normal.woff) format('woff'),
		url(../fonts/arial_normal.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: "Arial";
	font-style: italic;
	src: url(../fonts/arial_italic.ttf) format('truetype'),
		url(../fonts/arial_italic.woff) format('woff'),
		url(../fonts/arial_italic.woff2) format('woff2');
	font-weight: 400;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

*::after,
*::before {
	box-sizing: border-box;
}

h1 {
	color: var(--color-light-s);
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	margin: 0;
}

h2 {
	font-size: 44px;
	line-height: 130%;
}

h3 {
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

h4 {
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
}

h5 {
	font-size: 15px;
	line-height: 115%;
	letter-spacing: 0.06em;
}

ul,
li {
	list-style: none;
}

input,
button {
	border: none;
	font-size: inherit;
}

strong {
	font-weight: bold;
}

input:focus,
button:focus {
	outline: none;
}

a {
	text-decoration: none;
	cursor: url('./../../assets/icons/pointer.svg'), pointer;
}

button {
	font-family: "Georgia", serif;
	border-radius: 100px;
	color: var(--color-dark-3xl);
	cursor: url('./../../assets/icons/pointer.svg'), pointer;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	transition: background-color .55s ease;
	border: 2px solid var(--color-primary);
}

button:hover {
	background-color: var(--color-primary-light);
	border: 2px solid var(--color-primary-light);
}

.button_round {
	display: flex;
	width: 52px;
	height: 52px;
	background-color: var(--color-light-s);
	justify-content: center;
	align-items: center;
}

.button_round h4 {
	color: var(--color-dark-3xl);
}

.button_primary {
	padding: 13px 43px;
	background-color: var(--color-primary);
}

.button_secondary {
	padding: 13px 43px;
	background-color: var(--color-light-s);
}

.button_disabled {
	border: 2px solid var(--color-dark-s);
	color: var(--color-dark-s);
}

.button_disabled:hover {
	background-color: inherit;
	border: 2px solid var(--color-dark-s);
}

.button_disabled h4{
	color: var(--color-dark-s);
}

:root {
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--color-light-s: #fafafa;
	--color-light-l: #F6F6F6;
	--color-light-xl: #fff;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4C4C4C;
	--color-dark-3xl: #292929;
}

body,
html {
	font-size: 16px;
	font-family: "Georgia", serif;
	font-weight: 400;
	cursor: url('./../../assets/icons/cursor.svg'), auto;
	scroll-behavior: smooth;
}

.container {
	max-width: 1280px;
	padding: 0 40px;
	margin: 0 auto;
}

.pet__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 270px;
	height: 435px;
	border-radius: 9px;
	background-color: var(--color-light-s);
	padding-bottom: 31px;
}

.pet__image {
	margin-bottom: -5px;
}

.pet__image img {
	width: 270px;
	height: 270px;
	border-radius: 9px 9px 0 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.pet__name {
	color: var(--color-dark-l);
}

.modal {
	width: 900px;
	height: 500px;
	background-color: var(--color-light-s);
	display: none;
	position: relative;
	border-radius: 9px;
}

.modal__container {
	display: flex;
}

.modal__image img {
	width: 500px;
	height: 500px;
	border-radius: 9px 0 0 9px;
}

.modal__content {
	width: 351px;
	height: 362px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
	margin: 51px 0 0 29px;
}

.model__title {
	color: black;
	margin-bottom: 10px;
}

.modal__subtitle {
	color: black;
	margin-bottom: 40px;
}

.modal__about {
	color: black;
	margin-bottom: 37px;
}

.modal-list__item {
	list-style: disc;
	color: black;
	padding-left: 3px;
	margin-left: 12px;
	margin-bottom: 11px;
}

.modal-list__item>strong {
	font-weight: bold;
}

.modal-list__item::marker {
	color: var(--color-primary);
}

.modal_visible {
	display: block;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.75s ease;
	z-index: 3;
}

.modal__overlay_visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.75s ease;
}

.modal__button_close {
	position: absolute;
	right: 0;
	transform: translate(43px, -52px);
	background-color: initial;
}