.header {
	width: 100%;
	padding: 30px 0;
	background: var(--color-light-xl);
}

.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 0;
	background: var(--color-light-xl);
	background-size: cover;
	z-index: 2;
}

.header.header__burger_open.header_fixed {
	background: none;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__burger {
	position: absolute;
	display: none;
	width: 30px;
	height: 22px;
	border: none;
	margin-right: 43px;
	right: 10px;
	top: 49px;
	cursor: url('./../../assets/icons/pointer.svg'), pointer;
	z-index: 5;
}

.burger__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.55s ease;
	z-index: 3;
}

.burger__overlay_visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.55s ease;
}

.header.header__burger_open .nav {
	transform: translateX(0%);
	visibility: visible;
	transition: transform .5s ease;
}

.header__burger span {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--color-dark-l);
}

.header__burger:hover span {
	background-color: var(--color-dark-3xl);
	transition: all .5s ease;
}

.header__burger span:nth-child(1) {
	transition: all .5s ease;
}

.header.header__burger_open .header__burger span:nth-child(1) {
	transform: translate(-11px, 10px) rotate(90deg);
	transition: all .5s ease;
}

.header__burger span:nth-child(2) {
	transform: translateY(10px);
	transition: all .5s ease;
}

.header.header__burger_open .header__burger span:nth-child(2) {
	transform: translate(-1px, 10px) rotate(90deg);
	transition: all .5s ease;
}

.header__burger span:nth-child(3) {
	transform: translateY(20px);
	transition: all .5s ease;
}

.header.header__burger_open .header__burger span:nth-child(3) {
	transform: translate(9px, 10px) rotate(90deg);
	transition: all .5s ease;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 4;
}

.header.header__burger_open .header__row>.logo {
	opacity: 0;
}

.nav>.logo {
	display: none;
}

.header.header__burger_open .nav>.logo {
	display: flex;
	align-items: flex-start;
	text-align: start;
	margin: 31px 0 0 10px;
}

.logo__name {
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	margin-bottom: 10px;
}

.logo__name>* {
	color: var(--color-dark-l);
}

.logo__subtitle {
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--color-dark-3xl);
	font-family: "Arial", serif;
	margin-left: 2px;
}

.menu {
	display: flex;
	justify-content: center;
	column-gap: 36px;
	padding-bottom: 5px;
}

.menu__item a {
	position: relative;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-l);
	font-family: "Arial", serif;
}

.menu__item a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	background-color: var(--color-primary);
	content: "";
	transition: width 0.3s ease-out;
}

.menu__item a:hover,
.menu__item a:focus {
	color: var(--color-dark-3xl);
}

.menu__item a:hover:after,
.menu__item a:focus:after {
	width: 100%;
}

.pets {
	padding: 79px 0 101px 0;
	background-color: var(--color-light-l);
}

.pets__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pets__heading {
	text-align: center;
	margin-bottom: 59px;
}

.swiper {
	width: 1200px;
	height: 910px;
	margin-bottom: 50px;
}

.swiper-slide {
	height: 435px !important;
}

.slider__navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.slider__counter {
	background-color: var(--color-primary) !important;
	cursor: url('./../../assets/icons/cursor.svg'), auto;
	border: 2px solid var(--color-primary) !important;
}

.slider__counter h4 {
	color: var(--color-dark-3xl);
}

@media (min-width: 768px) and (max-width: 1280px) {
	.pets {
		padding: 79px 0 77px 0;
	}

	.pets__heading {
		margin-bottom: 30px;
	}

	.swiper {
		width: 580px;
		height: 1385px;
		margin-bottom: 19px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.header {
		padding: 30px 0;
	}

	.header__burger {
		display: block;
	}

	.nav {
		width: 320px;
		height: 200vh;
		position: absolute;
		right: 0;
		top: 0;
		visibility: hidden;
		background-color: var(--color-light-xl);
		z-index: 5;
		text-align: center;
		transform: translateX(100%);
		transition: transform .5s ease;
	}

	.menu {
		flex-direction: column;
		margin-top: 159px;
	}

	.menu__item {
		margin-bottom: 41px;
	}

	.menu__item a {
		font-size: 32px;
	}

	.pets {
		padding: 42px 0 44px 0;
	}

	.pets__heading {
		margin-bottom: 41px;
	}

	.swiper {
		width: 270px;
		height: 1385px;
		margin-bottom: 20px;
	}

	.slider__navigation {
		gap: 10px;
	}
}